* {
    box-sizing: border-box;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fafafa;
    color: #212121;
    line-height: 1.5;
    display: grid;
    margin: 0;
    padding:  16px;
  }
  
  ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    display: block;
  }

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #281e72c5;
    padding: 15px;
}

.search-form {
    display: flex;
    margin: 0;
    padding: 0 16px;
    border-radius: 26px;
    border: 3px solid #fff;
}



.field {
    padding: 4px 16px;
    background-color: transparent;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 50%;
    color: aliceblue;
    border-radius:   26px 0 0 26px  ;
    border: transparent;
}

.field:focus {
outline: none;
}

.field:focus .search-form{
  border-color: #ff0;
}



.field::placeholder {
    font-size: 20px;
    color: #aaa;
    font-weight: 500;
}

.search-btn {
    padding: 8px 16px 8px 8px;
    border-radius:  0 26px  26px 0;
    background-color: transparent;
    margin: 0;
    border: transparent;
    cursor: pointer;

}

.search-btn:focus {
    outline: none;
}

.search-btn:disabled .lens {
    fill: #777;
    cursor: none;
}
.search-btn:focus .lens {
    fill: #ff0;
}


.lens {
    fill: #fff
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .photo-card {
    height: 300px;
    width: 320px;
    border-radius: 8px;
    box-shadow: 8px 8px 8px rgba(48, 47, 47, 0.1);
  }
  
  .info {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
  
 
  
  .load-more.is-hidden {
    display: none;
  }
  
  .load-more {
   display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    padding: 12px 26px ;
    border-radius:  26px  ;
    background-color: #281e72c5;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    border: transparent;
    cursor: pointer;
  }
  
  .gallery-item {
    font-family: inherit;
    color: inherit;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    
  }

  .gallery-item:hover,
  .gallery-item:focus {
    outline: none;
    scale: 1.05;
  }