form button {
    font-size: 16px;
    font-weight: 600;
    color: #ee2;
    padding: 10px 40px;
    border-radius: 19px;
    border: transparent;
  
    background-color: #495;
    cursor: pointer;
  }
  
  form button:disabled {
    color: antiquewhite;
    background-color: #777;
  }
  
  #search-form > input {
    font: inherit;
    padding: 8px;
    max-width: 320px;
    border-radius: 6px;
    border: 1px solid #757575;
    outline: 5px solid transparent;
  }
  
  #search-form > input:focus {
    border: 1px solid transparent;
    outline: 5px solid #0d6efd52;
  }
  
  #search-form > input:focus::placeholder {
   color: #75757533;
  }


.load-more {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #ee2;
    padding: 10px 40px;
    border-radius: 19px;
    border: transparent;
  
    background-color: #495;
    cursor: pointer;
  }
  
  .load-more.is-hidden {
    display: none;
  }