 <form  class="js-form">
            <div class="form-group">
                <input  class="how-many" name="amount" type="text"/>
            </div>
        
            <button class="btn-go btn-primary" type="submit">GO</button>
        </form>